<%- include("partials/head.ejs") %>
<%- include("partials/header-logo.ejs") %>
<%- include("partials/nav.ejs") %>

<main>

    <h3><%= about %></h3>
    <div id="contenedor-productos">

        <% products.forEach(prod => { %>
            <div class="card-producto">
                <img src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                <h5><%= prod.nombre %></h5>
                <p>Id: <%= prod.id %></p>
                <p>Tipo: <%= prod.tipo %></p>
                <p>$<%= prod.precio %></p>              
                

            </div>
        <% }) %>
    </div>
</main>

<%- include("partials/footer.ejs") %>
