<%- include("partials/head.ejs") %>
<%- include("partials/header-completo.ejs") %>

<main>
    <h2>Bienvenido <%= nombre %> 👋</h2>
    <li>
    <form action="/logout" method="POST" style="display:inline;">
        <button type="submit" class="btn-logout">Cerrar sesión</button>
    </form>
</li>

    <h3><%= about %></h3>
    <div id="contenedor-productos">

        <% products.forEach(prod => { %>
            <div class="card-producto">
                <img src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                <h5><%= prod.nombre %></h5>
                <p>Id: <%= prod.id %></p>
                <p>Tipo: <%= prod.tipo %></p>
                <p>$<%= prod.precio %></p>
            </div>
        <% }) %>
    </div>
</main>

<%- include("partials/footer.ejs") %>
